app/views/events/new.html.erb
<h1>New Event</h1>
<%= form_for :event, url: events_path do |f| %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

app/views/events/show.html.erb
<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @event.text %>
</p>

app/views/events</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @events.each do |event| %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.text %></td>
    </tr>
  <% end %>
</table>



